<span><strong>Title:</strong></span>
<%= @article.title %>
<p>
  <strong>Text :</strong>
  <%= @article.text %>
</p>

<br>
<h2>Comments</h2>
<hr>
<% render @article.comments %>
  
<h5>Add a comment</h5>
<%= render 'comments/form' %>
  

<%= link_to "edit", edit_article_path(@article) %>
<%= link_to "back", articles_path %>
